services:
    sisign-app:
        container_name: sisign-app
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - '8000:8000'
        volumes:
            - ./storage:/var/www/html/storage
            - ./.env:/var/www/html/.env 
        networks:
            - sisign_network

networks:
    sisign_network:
        driver: bridge
